{% extends "base.html" %}
{% load static %}

{% block title %}
    Добавить заметку
{% endblock %}

{% block head %}
    <script src="{% static 'js/ckeditor.js' %}"></script>
    <script src="{% static 'js/note_add_ckeditor.js' %}"></script>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id=save class="btn btn-seccuss w100">Добавить</button>
    </form>

    <script>
    let url = "{% url 'index' %}"
    let token = '{{ csrf_token }}'
    </script>
{% endblock %}